@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    html,
    body {
        @apply bg-base overflow-hidden h-screen
    }
}

.input {
    @apply h-12 rounded-lg p-2 border
}

.input-date {
    -webkit-appearance: none;
    min-height: 1.2em;
    display: block;
}

.button {
    @apply h-14 rounded-lg w-full font-medium text-lg text-white bg-zinc-800 flex flex-row justify-center items-center shadow-xl no-underline no-select;
}

.button-dark-pressed:active {
    @apply bg-zinc-600;
}

.button-ligth-pressed:active {
    @apply bg-zinc-200 duration-150 no-select;

}

.action-button {
    @apply bg-white w-1/3 p-2 shadow-xl rounded-lg flex flex-row justify-between items-center space-x-2 button-ligth-pressed;
}

.icon {
    @apply aspect-square rounded-lg flex flex-row items-center justify-center bg-zinc-800 text-white no-select
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select:focus {
    outline: none !important;
}